.cat-card {
  width: 20vw;
  min-width: 200px;
  max-width: 240px;
  height: 345px;
  color: white;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  padding: 0 18px;
  box-sizing: border-box;

  img {
    width: 100%;
    height: 345px;
    object-fit: cover;
    border-radius: 4px;

    &:hover {
      opacity: 0.85;
    }
  }

  .desc {
    font-weight: 300;
    position: absolute;
    top: 15px;
    left: 35px;
  }

  .title {
    font-weight: 600;
    font-size: 24px;
    position: absolute;
    left: 35px;
    top: 40px;
  }
}
