.featured {
  height: 90vh;
  position: relative;
  background-color: transparent;
  color: white;

  .container {
    width: 90vw;
    display: flex;
    align-items: center;

    .header {
      display: flex;
      flex-direction: column;
      gap: 30px;
      max-width: 650px;
      position: absolute;
      top: 200px;
      left: 70px;

      h1 {
        font-size: 50px;
      }

      i {
        font-weight: 300;
      }

      .search {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        border-radius: 5px;

        .searchInput {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            width: 20px;
            height: 20px;
            margin: 10px;
          }

          input {
            border: none;
            outline: none;
          }
        }

        button {
          width: 120px;
          height: 50px;
          border: none;
          background-color: #1dbf73;
          color: white;
          cursor: pointer;
        }
      }
      .popular {
        display: flex;
        align-items: center;
        gap: 10px;

        span {
        }

        button {
          color: white;
          background-color: transparent;
          border: 1px solid white;
          padding: 5px 10px;
          border-radius: 20px;
          font-size: 14px;
          cursor: pointer;
          &:hover {
            border-color: white;
            background-color: white;
            color: #013914;
            transition: 0.3s ease-in-out;
          }
        }
      }
    }
  }
}
